{% extends "__base__.html" %}
{% block title %}Plany{% endblock %}
{% block content %}
<div class="dashboard-content border-dashed p-3 m-4 view-height">

    <div class="row border-bottom border-3 p-1 m-1">
        <div class="col">
            <h3 class="color-header text-uppercase">LISTA PLANÓW</h3>
        </div>
        <div class="col d-flex justify-content-end mb-2">
            <a href="/plan/add" class="btn btn-color rounded-0 pt-0 pb-0 pr-4 pl-4">Dodaj plan</a>
        </div>
    </div>

    <div class="schedules-content">
        <table class="table border-bottom">
            <thead>
                <tr class="d-flex text-color-darker">
                    <th class="col-1">ID</th>
                    <th class="col-2">NAZWA</th>
                    <th class="col-7">OPIS</th>
                    <th class="col-2 center">AKCJE</th>
                </tr>
            </thead>
            <tbody class="text-color-lighter">

                {% for plan in plans %}
                <tr class="d-flex">
                    <th scope="row" class="col-1">
                        {{ plan.id }}
                    </th>
                    <td class="col-2">
                        {{ plan.name }}
                    </td>
                    <td class="col-7">
                        {{ plan.description }}
                    </td>
                    <td class="col-2 d-flex align-items-right justify-content-center flex-wrap">
                        <a href="/plan/{{ plan.id }}/?ref={{ request.META.PATH_INFO }}"
                           class="btn btn-info rounded-0 text-light m-1">Szczegóły</a>
                        <a href="/plan/modify/{{ plan.id }}/"
                           class="btn btn-warning rounded-0 text-light m-1">Edytuj</a>
                        <a href="#" class="btn btn-danger rounded-0 text-light m-1">Usuń</a>
                    </td>
                </tr>
                {% endfor %}

            </tbody>
        </table>

{% if plans.has_other_pages %}
        <div class="pagination">
            <ul>
                {% if plans.has_previous %}
                <li><a href="/plan/list/{{ plans.previous_page_number }}"> < poprzednia </a></li>
                {% endif %}
                {% if plans.number|add:'-9' > 1 %}
                <li><a href="/plan/list/{{ plans.number|add:'-10' }}">&hellip;</a></li>
                {% endif %}
                {% for i in plans.paginator.page_range %}
                    {% if plans.number == i %}
                <li class="active"><span>{{ i }}<span class="sr-only">(current)</span></span></li>
                    {% elif i > plans.number|add:'-10' and i < plans.number|add:'10' %}
                <li><a href="/plan/list/{{ i }}">{{ i }}</a></li>
                    {% endif %}
                {% endfor %}
                {% if plans.paginator.num_pages > plans.number|add:'9' %}
                <li><a href="/plan/list/{{ plans.number|add:'10' }}">&hellip;</a></li>
                {% endif %}
                {% if plans.has_next %}
                <li><a href="/plan/list/{{ plans.next_page_number }}"> następna > </a></li>
                {% endif %}
            </ul>
        </div>
{% endif %}

    </div>
</div>
{% endblock content %}