{% extends "__base__.html" %}
{% block title %}{{ recipe.name }}{% endblock %}
{% block content %}
<div class="dashboard-content border-dashed p-3 m-4 view-height">

    <div class="mt-4 ml-4 mr-4">
        <div class="row border-bottom border-3">
            <div class="col"><h3 class="color-header text-uppercase">Szczegóły przepisu</h3></div>
            <div class="col d-flex justify-content-end mb-2">
                <a href="{{ back_link }}" class="btn btn-color rounded-0 pt-0 pb-0 pr-4 pl-4">Powrót</a>
            </div>
        </div>

        <table class="table borderless">
            <tbody>
                <tr class="d-flex">
                    <th scope="row" class="col-2">Nazwa Przepisu</th>
                    <td class="col-7">
                        {{ recipe.name }}
                    </td>
                </tr>
                <tr class="d-flex">
                    <th scope="row" class="col-2">Opis przepisu</th>
                    <td class="col-7">
                        {{ recipe.description }}
                    </td>
                </tr>
                <tr class="d-flex">
                    <th scope="row" class="col-2">Przygotowanie (minuty)</th>
                    <td class="col-7">
                        {{ recipe.preparation_time }}
                    </td>
                </tr>
                <tr class="d-flex">
                    <th scope="row" class="col-2">Liczba polubień</th>
                    <td class="col-7">
                        {{ recipe.votes }}
                        <form method="post" class="dispinl">
                            <input type="hidden" name="recipe_id" value="{{ recipe.id }}">
                            <input type="submit" name="add" value="lubię przepis"
                                   class="btn btn-success rounded-2 pt-0 pb-0 pr-2 pl-2" style="font-size: 16px">
                            <input type="submit" name="sub" value="nie lubię przepisu" class="btn btn-danger rounded-2 pt-0 pb-0 pr-2 pl-2" style="font-size: 16px">
                            {% csrf_token %}
                        </form>
                    </td>
                </tr>
            </tbody>
        </table>

        <div class="row d-flex">
            <div class="col-5 border-bottom border-3"><h3
                    class="text-uppercase">Sposób przygotowania</h3></div>
            <div class="col-2"></div>
            <div class="col-5 border-bottom border-3"><h3
                    class="text-uppercase">Składniki</h3></div>
        </div>
        <div class="row d-flex">
            <div class="col-5 p-4">
                <p>{{ recipe.preparation }}</p>
            </div>
            <div class="col-2"></div>
            <ul class="col-5 p-4 list-unstyled">
                {{ recipe.ingredients }}
            </ul>
        </div>

    </div>
</div>
{% endblock content %}